.sign-1 {
  display: inline-block;
  position: absolute;
  font-size: 29.17px;
  font-family: "Simsun";
  color: #2f3400;
  text-align: center;
  line-height: 56px;
  background-color: #5c737c;
  z-index: 40;
}

.sign-1::before {
  content: '';
  display: block;
  position: absolute;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #5c737c;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  z-index: -1;
}

.sign-1::after {
  content: '';
  display: block;
  position: absolute;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #5c737c;
  top: 0;
  right: 0;
  transform: translateX(50%);
  z-index: -1;
}

.sign-2 {
  display: inline-block;
  position: absolute;
  font-size: 29.17px;
  font-family: "Simsun";
  color: #2f3400;
  text-align: center;
  line-height: 56px;
  background-color: #a2b460;
  z-index: 40;
}

.sign-2::before {
  content: '';
  display: block;
  position: absolute;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #a2b460;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  z-index: -1;
}

.sign-2::after {
  content: '';
  display: block;
  position: absolute;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #a2b460;
  top: 0;
  right: 0;
  transform: translateX(50%);
  z-index: -1;
}

.sign-3 {
  display: inline-block;
  position: absolute;
  font-size: 29.17px;
  font-family: "Simsun";
  color: #2f3400;
  text-align: center;
  line-height: 56px;
  background-color: #bcccd9;
  z-index: 40;
}

.sign-3::before {
  content: '';
  display: block;
  position: absolute;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #bcccd9;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  z-index: -1;
}

.sign-3::after {
  content: '';
  display: block;
  position: absolute;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #bcccd9;
  top: 0;
  right: 0;
  transform: translateX(50%);
  z-index: -1;
}

.sign-4 {
  display: inline-block;
  position: absolute;
  font-size: 29.17px;
  font-family: "Simsun";
  color: #2f3400;
  text-align: center;
  line-height: 56px;
  background-color: #c2bc20;
  z-index: 40;
}

.sign-4::before {
  content: '';
  display: block;
  position: absolute;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #c2bc20;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  z-index: -1;
}

.sign-4::after {
  content: '';
  display: block;
  position: absolute;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: #c2bc20;
  top: 0;
  right: 0;
  transform: translateX(50%);
  z-index: -1;
}

.container {
  position: relative;
  background: url("../images/content-bg.jpg") no-repeat;
  width: 640px;
  height: 1136px;
  margin: 0 auto;
}

.container .top {
  padding: 45px 45px 0;
}

.container .top img {
  width: 103px;
  height: 38px;
}

.container .chathead {
  position: relative;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: white;
  margin: 0 auto;
}

.container .chathead img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 129px;
}

.container .feedback {
  text-align: center;
}

.container .feedback p {
  font: 33.33px "Miscoft yahei",sans-serif;
  color: white;
}

.container .feedback p span {
  color: #fff000;
}

.container .other {
  margin-top: 70px;
}

.container .other span {
  display: block;
  padding-left: 38px;
  font-size: 25px;
  font-family: "Adobe";
  color: #d5d5d5;
  line-height: 39px;
}

.container .hall {
  position: relative;
  display: block;
  height: 259px;
}

.container .hall .sign-1 {
  right: 85px;
}

.container .hall .sign-2 {
  left: 78px;
  top: 65px;
}

.container .hall .sign-3 {
  top: 192px;
  right: 85px;
}

.container .hall .sign-4 {
  left: 230px;
  top: 129px;
}

.container .area {
  position: relative;
  text-align: center;
  padding: 55px 70px 0;
}

.container .area p {
  margin: 0;
  padding-bottom: 20px;
  font-size: 25px;
  font-family: "Micsoft yahei";
  color: #d5d5d5;
}

.container .area textarea {
  border: 2px solid white;
  background-color: transparent;
  width: 495px;
  height: 71px;
}

.container .area .btn {
  margin: 20px 26px;
  display: inline-block;
  width: 138px;
  height: 48px;
  background-color: #deff00;
  box-shadow: 3px 3px 3px 0 #4e580e;
  border-radius: 9px;
}

.container .area .btn a {
  display: block;
  text-decoration: none;
  font-size: 25px;
  font-family: "Simsun";
  color: #384000;
  line-height: 48px;
}
