@import "./partials/_variral";


.container{
    position: relative;
    background: url("../images/content-bg.jpg") no-repeat;
    width: $w-body;
    height: $h-body;
    margin: 0 auto;
    .top{
        width: inherit;
        height: 50%;
        padding-top: 60px;
        box-sizing: border-box;
        p{
            margin: 0;
            padding: 40px 45px;
            font-size: $fz-question;
            color: nth($fontColor , 1);
        }
        .pic{
            display: block;
            text-align: center;
        }
    }
    .footer{
        padding-left: 57px;
        height: 50%;
        background: url("../images/music-code.png") no-repeat right 145px;
        ul{
            display: block;
            padding-top: 100px;
            padding-left: 0;
            @each $option in A,B,C,D{
                .#{$option}{
                    position: relative;
                    display: block;
                    list-style: none;
                    margin-bottom:28px;
                    width: $option-w;
                    height: $option-h;
                    background: url("../images/option-bg.png") no-repeat;
                    a{
                        display: block;
                        font-size: $fz-option;
                        font-weight: bold;
                        text-decoration: none;
                        color: nth($fontColor,2);
                        line-height: 55px;
                        padding-left: 50px;
                    }
                }
                .#{$option}::before{
                    // 注意点：content要加入排序字符可以以下面的形式编写
                    content: '#{$option}';
                    position: absolute;
                    display: inline-block;
                    font-size: $fz-option;
                    color:nth($fontColor,2);
                    font-weight: bold;
                    left: 15px;
                    line-height: 55px;
                }
                .#{$option}:hover{
                    background: url("../images/pick-bg.png") no-repeat;
                }

            }
        }
        .dog{
            position: absolute;
            width: $dog-w;
            height: $dog-h;
            animation: dog 5s steps(1, end) infinite;
            z-index: 40;
            right: 70px;
            bottom: 30px;
        }

    }
}
@mixin keyframes($animationName) {
    @keyframes #{$animationName} {
        @content;
    }
}
$baseV:100/13;

@include keyframes(dog) {
    @for $i from 1 through  13 {
        #{$baseV*$i/100*100%} {    
            background: url("../images/dog-#{$i}.png") no-repeat center center;
        }
    }
}