// 该文件用于制定公共区域的属性值
$w-body:640px;
$h-body:1136px;
$option-w:368px;
$option-h:63px;
$dog-w:125px;
$dog-h:114px;
$chathead:175px;

$half:50%;
$minus-half:-50%;
// list
$Color:white black #fff000 #deff00 #75b9ff #f346f3;
$fontColor:white black;
$signColor:#5c737c,#a2b460,#bcccd9,#c2bc20;

// 字体
$fz-0:0px;
$fz-question:33.33px;
$fz-option:27.52px;
$fz-25:25px;

@mixin font ($size:25px,$family:"Micsoft yahei",$color:black){
    font-size: $size;
    font-family: $family;
    color: $color;
}
